## `Pandas`

![image.png]()


The `pandas` library is practically use for any data manipulation task in python. As a result, learning `pandas` is a great skill to have as data scientists.

During this class time we will be using the `colleges_dataset_not_cleaned.csv` datset we made last class after web scraping money.com

Before we do anything lets first explore the datasets first (visually)

Lets first start off by importing the `pandas` and `numpy` libraries

In [1]:
import pandas as pd
pd.options.display.max_columns = 30
import numpy as np

Before we can even do anything to this dataset we need to load it. Load in the dataset using `pandas` below.

In [2]:
college_df = pd.read_csv(r'/content/total_college_data.csv')

In [3]:
type(college_df)

pandas.core.frame.DataFrame

In [4]:
college_df.head()

,Unnamed: 0,college_names,college_location,acceptance_rate,Est_full_price_22_23,Est_price_with_avg_grant,graduation_rate,early_career_earnings,avg_price_for_low_income_students,median_sat_act_score,sat_act_required,undergrad_enrollment,percent_of_students_with_need_who_get_grants,percent_of_need_met,percent_of_students_who_get_merit_grants,avg_merit_grant,avg_time_to_a_degree,median_student_debt,percent_earning_more_than_a_high_school_grad
0,0,Adelphi University,"Garden City, NY",\n 77%\n,"\n $67,400\n","\n $30,300\n",\n 74%\n,"$70,100","$24,800",1200/26,No,"5,170",98%,62%,22%,"$20,530",4.2 years,"$25,000",80%
1,1,Agnes Scott College,"Decatur, GA",\n 70%\n,"\n $63,500\n","\n $14,400\n",\n 73%\n,"$49,300","$10,400",NaN,No,"1,010",100%,85%,25%,"$31,390",4.1 years,"$26,750",60%
2,2,Albertus Magnus College,"New Haven, CT",\n 82%\n,"\n $62,100\n","\n $30,800\n",\n 65%\n,"$52,300","$26,300",NaN,No,"1,020",69%,46%,4%,"$21,060",4.3 years,"$30,960",59%
3,3,Albion College,"Albion, MI",\n 69%\n,"\n $70,200\n","\n $21,200\n",\n 70%\n,"$57,500","$15,300",1110/24,No,"1,510",100%,91%,16%,"$37,120",4.2 years,"$27,000",74%
4,4,Alcorn State University,"Alcorn State, MS",\n 39%\n,"\n $25,000\n","\n $15,600\n",\n 42%\n,"$34,500","$12,600",960/22,Yes,"2,480",92%,20%,33%,"$8,210",4.3 years,"$27,000",40%

## Exploring the Data

Awesome, now lets explore the datset with `pandas`

In [5]:
college_df.head()

,Unnamed: 0,college_names,college_location,acceptance_rate,Est_full_price_22_23,Est_price_with_avg_grant,graduation_rate,early_career_earnings,avg_price_for_low_income_students,median_sat_act_score,sat_act_required,undergrad_enrollment,percent_of_students_with_need_who_get_grants,percent_of_need_met,percent_of_students_who_get_merit_grants,avg_merit_grant,avg_time_to_a_degree,median_student_debt,percent_earning_more_than_a_high_school_grad
0,0,Adelphi University,"Garden City, NY",\n 77%\n,"\n $67,400\n","\n $30,300\n",\n 74%\n,"$70,100","$24,800",1200/26,No,"5,170",98%,62%,22%,"$20,530",4.2 years,"$25,000",80%
1,1,Agnes Scott College,"Decatur, GA",\n 70%\n,"\n $63,500\n","\n $14,400\n",\n 73%\n,"$49,300","$10,400",NaN,No,"1,010",100%,85%,25%,"$31,390",4.1 years,"$26,750",60%
2,2,Albertus Magnus College,"New Haven, CT",\n 82%\n,"\n $62,100\n","\n $30,800\n",\n 65%\n,"$52,300","$26,300",NaN,No,"1,020",69%,46%,4%,"$21,060",4.3 years,"$30,960",59%
3,3,Albion College,"Albion, MI",\n 69%\n,"\n $70,200\n","\n $21,200\n",\n 70%\n,"$57,500","$15,300",1110/24,No,"1,510",100%,91%,16%,"$37,120",4.2 years,"$27,000",74%
4,4,Alcorn State University,"Alcorn State, MS",\n 39%\n,"\n $25,000\n","\n $15,600\n",\n 42%\n,"$34,500","$12,600",960/22,Yes,"2,480",92%,20%,33%,"$8,210",4.3 years,"$27,000",40%

In [6]:
college_df.loc[0]

Unnamed: 0                                                                                  0
college_names                                                              Adelphi University
college_location                                                              Garden City, NY
acceptance_rate                                     \n                  77%\n
Est_full_price_22_23                            \n                  $67,400\n
Est_price_with_avg_grant                        \n                  $30,300\n
graduation_rate                                     \n                  74%\n
early_career_earnings                                                                 $70,100
avg_price_for_low_income_students                                                     $24,800
median_sat_act_score                                                                  1200/26
sat_act_required                                                                           No
undergrad_enrollment                                                                    5,170
percent_of_students_with_need_who_get_grants                                              98%
percent_of_need_met                                                                       62%
percent_of_students_who_get_merit_grants                                                  22%
avg_merit_grant                                                                       $20,530
avg_time_to_a_degree                                                                4.2 years
median_student_debt                                                                   $25,000
percent_earning_more_than_a_high_school_grad                                              80%
Name: 0, dtype: object

In [7]:
college_df.shape

(736, 19)

In [8]:
college_df.dtypes

Unnamed: 0                                       int64
college_names                                   object
college_location                                object
acceptance_rate                                 object
Est_full_price_22_23                            object
Est_price_with_avg_grant                        object
graduation_rate                                 object
early_career_earnings                           object
avg_price_for_low_income_students               object
median_sat_act_score                            object
sat_act_required                                object
undergrad_enrollment                            object
percent_of_students_with_need_who_get_grants    object
percent_of_need_met                             object
percent_of_students_who_get_merit_grants        object
avg_merit_grant                                 object
avg_time_to_a_degree                            object
median_student_debt                             object
percent_earning_more_than_a_high_school_grad    object
dtype: object

Notice that we can't really do much with this data because it is very messy.

## Cleaning the Data

### Deleting Column

First lets delete the column `Unnamed: 0`, this is bascially the index, but we don't need this since `pandas` does this for us

In [9]:
college_df.drop(['Unnamed: 0'], axis=1, inplace=True)

### Expanding Columns

Now lets expand some of these columns. Create the following columns -

1) `Town` and `State` that are the town and state of their respectize college

2) `median_sat` and `median_act` that are the sat and act of the respective college

Hint: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html

In [10]:
college_df['median_sat_act_score']

0      1200/26
1          NaN
2          NaN
3      1110/24
4       960/22
        ...
731        NaN
732    1110/24
733    1190/25
734    1530/34
735    1330/28
Name: median_sat_act_score, Length: 736, dtype: object

In [11]:
college_df[["Town", "State"]] = college_df['college_location'].str.split(',', expand=True)
college_df[["median_sat", "median_act"]] = college_df['median_sat_act_score'].str.split('/', expand=True)
# college_df[["avg_time_to_a_degree", "del_years"]] = college_df['avg_time_to_a_degree'].str.split(' ', expand=True)

In [12]:
college_df.head()

,college_names,college_location,acceptance_rate,Est_full_price_22_23,Est_price_with_avg_grant,graduation_rate,early_career_earnings,avg_price_for_low_income_students,median_sat_act_score,sat_act_required,undergrad_enrollment,percent_of_students_with_need_who_get_grants,percent_of_need_met,percent_of_students_who_get_merit_grants,avg_merit_grant,avg_time_to_a_degree,median_student_debt,percent_earning_more_than_a_high_school_grad,Town,State,median_sat,median_act
0,Adelphi University,"Garden City, NY",\n 77%\n,"\n $67,400\n","\n $30,300\n",\n 74%\n,"$70,100","$24,800",1200/26,No,"5,170",98%,62%,22%,"$20,530",4.2 years,"$25,000",80%,Garden City,NY,1200,26
1,Agnes Scott College,"Decatur, GA",\n 70%\n,"\n $63,500\n","\n $14,400\n",\n 73%\n,"$49,300","$10,400",NaN,No,"1,010",100%,85%,25%,"$31,390",4.1 years,"$26,750",60%,Decatur,GA,NaN,NaN
2,Albertus Magnus College,"New Haven, CT",\n 82%\n,"\n $62,100\n","\n $30,800\n",\n 65%\n,"$52,300","$26,300",NaN,No,"1,020",69%,46%,4%,"$21,060",4.3 years,"$30,960",59%,New Haven,CT,NaN,NaN
3,Albion College,"Albion, MI",\n 69%\n,"\n $70,200\n","\n $21,200\n",\n 70%\n,"$57,500","$15,300",1110/24,No,"1,510",100%,91%,16%,"$37,120",4.2 years,"$27,000",74%,Albion,MI,1110,24
4,Alcorn State University,"Alcorn State, MS",\n 39%\n,"\n $25,000\n","\n $15,600\n",\n 42%\n,"$34,500","$12,600",960/22,Yes,"2,480",92%,20%,33%,"$8,210",4.3 years,"$27,000",40%,Alcorn State,MS,960,22

Notice how the original columns are still there, drop these columns inplace

In [13]:
college_df.drop(["college_location", "median_sat_act_score"], axis=1, inplace=True)

In [14]:
college_df.head(10)

,college_names,acceptance_rate,Est_full_price_22_23,Est_price_with_avg_grant,graduation_rate,early_career_earnings,avg_price_for_low_income_students,sat_act_required,undergrad_enrollment,percent_of_students_with_need_who_get_grants,percent_of_need_met,percent_of_students_who_get_merit_grants,avg_merit_grant,avg_time_to_a_degree,median_student_debt,percent_earning_more_than_a_high_school_grad,Town,State,median_sat,median_act
0,Adelphi University,\n 77%\n,"\n $67,400\n","\n $30,300\n",\n 74%\n,"$70,100","$24,800",No,"5,170",98%,62%,22%,"$20,530",4.2 years,"$25,000",80%,Garden City,NY,1200,26
1,Agnes Scott College,\n 70%\n,"\n $63,500\n","\n $14,400\n",\n 73%\n,"$49,300","$10,400",No,"1,010",100%,85%,25%,"$31,390",4.1 years,"$26,750",60%,Decatur,GA,NaN,NaN
2,Albertus Magnus College,\n 82%\n,"\n $62,100\n","\n $30,800\n",\n 65%\n,"$52,300","$26,300",No,"1,020",69%,46%,4%,"$21,060",4.3 years,"$30,960",59%,New Haven,CT,NaN,NaN
3,Albion College,\n 69%\n,"\n $70,200\n","\n $21,200\n",\n 70%\n,"$57,500","$15,300",No,"1,510",100%,91%,16%,"$37,120",4.2 years,"$27,000",74%,Albion,MI,1110,24
4,Alcorn State University,\n 39%\n,"\n $25,000\n","\n $15,600\n",\n 42%\n,"$34,500","$12,600",Yes,"2,480",92%,20%,33%,"$8,210",4.3 years,"$27,000",40%,Alcorn State,MS,960,22
5,Allegheny College,\n 75%\n,"\n $72,800\n","\n $27,200\n",\n 73%\n,"$61,200","$17,200",No,"1,540",100%,88%,27%,"$32,270",4.1 years,"$27,000",73%,Meadville,PA,1250,26
6,Alma College,\n 69%\n,"\n $62,000\n","\n $26,100\n",\n 66%\n,"$52,000","$19,600",No,"1,310",100%,74%,22%,"$27,620",4.2 years,"$27,000",73%,Alma,MI,NaN,NaN
7,Alvernia University,\n 58%\n,"\n $59,700\n","\n $26,700\n",\n 62%\n,"$52,100","$18,500",No,"2,030",98%,65%,12%,"$13,050",4.4 years,"$27,000",75%,Reading,PA,NaN,NaN
8,American University,\n 64%\n,"\n $73,900\n","\n $30,700\n",\n 79%\n,"$75,400","$10,800",No,"8,160",94%,77%,16%,"$13,480",4.1 years,"$22,750",82%,Washington,DC,1360,31
9,Amherst College,\n 9%\n,"\n $83,900\n","\n $20,200\n",\n 95%\n,"$81,900","$4,600",No,"1,970",99%,100%,NaN,NaN,4.1 years,"$13,740",77%,Amherst,MA,1460,33

Try doing something similar with the `avg_time_to_a_degree` columns. How can we get rid of the string 'years'.

In [15]:
college_df[["avg_time_to_a_degree", "del_years"]] = college_df['avg_time_to_a_degree'].str.split(' ', expand=True)

In [16]:
college_df.head()

,college_names,acceptance_rate,Est_full_price_22_23,Est_price_with_avg_grant,graduation_rate,early_career_earnings,avg_price_for_low_income_students,sat_act_required,undergrad_enrollment,percent_of_students_with_need_who_get_grants,percent_of_need_met,percent_of_students_who_get_merit_grants,avg_merit_grant,avg_time_to_a_degree,median_student_debt,percent_earning_more_than_a_high_school_grad,Town,State,median_sat,median_act,del_years
0,Adelphi University,\n 77%\n,"\n $67,400\n","\n $30,300\n",\n 74%\n,"$70,100","$24,800",No,"5,170",98%,62%,22%,"$20,530",4.2,"$25,000",80%,Garden City,NY,1200,26,years
1,Agnes Scott College,\n 70%\n,"\n $63,500\n","\n $14,400\n",\n 73%\n,"$49,300","$10,400",No,"1,010",100%,85%,25%,"$31,390",4.1,"$26,750",60%,Decatur,GA,NaN,NaN,years
2,Albertus Magnus College,\n 82%\n,"\n $62,100\n","\n $30,800\n",\n 65%\n,"$52,300","$26,300",No,"1,020",69%,46%,4%,"$21,060",4.3,"$30,960",59%,New Haven,CT,NaN,NaN,years
3,Albion College,\n 69%\n,"\n $70,200\n","\n $21,200\n",\n 70%\n,"$57,500","$15,300",No,"1,510",100%,91%,16%,"$37,120",4.2,"$27,000",74%,Albion,MI,1110,24,years
4,Alcorn State University,\n 39%\n,"\n $25,000\n","\n $15,600\n",\n 42%\n,"$34,500","$12,600",Yes,"2,480",92%,20%,33%,"$8,210",4.3,"$27,000",40%,Alcorn State,MS,960,22,years

In [17]:
college_df.drop(['del_years'], axis = 1, inplace=True)

### Dealing With Whitespace

Print out the 3rd element of the first row, what do you notice?

In [18]:
college_df.iloc[0, 3]

'\n                  $30,300\n                '

In [19]:
college_df.head()

,college_names,acceptance_rate,Est_full_price_22_23,Est_price_with_avg_grant,graduation_rate,early_career_earnings,avg_price_for_low_income_students,sat_act_required,undergrad_enrollment,percent_of_students_with_need_who_get_grants,percent_of_need_met,percent_of_students_who_get_merit_grants,avg_merit_grant,avg_time_to_a_degree,median_student_debt,percent_earning_more_than_a_high_school_grad,Town,State,median_sat,median_act
0,Adelphi University,\n 77%\n,"\n $67,400\n","\n $30,300\n",\n 74%\n,"$70,100","$24,800",No,"5,170",98%,62%,22%,"$20,530",4.2,"$25,000",80%,Garden City,NY,1200,26
1,Agnes Scott College,\n 70%\n,"\n $63,500\n","\n $14,400\n",\n 73%\n,"$49,300","$10,400",No,"1,010",100%,85%,25%,"$31,390",4.1,"$26,750",60%,Decatur,GA,NaN,NaN
2,Albertus Magnus College,\n 82%\n,"\n $62,100\n","\n $30,800\n",\n 65%\n,"$52,300","$26,300",No,"1,020",69%,46%,4%,"$21,060",4.3,"$30,960",59%,New Haven,CT,NaN,NaN
3,Albion College,\n 69%\n,"\n $70,200\n","\n $21,200\n",\n 70%\n,"$57,500","$15,300",No,"1,510",100%,91%,16%,"$37,120",4.2,"$27,000",74%,Albion,MI,1110,24
4,Alcorn State University,\n 39%\n,"\n $25,000\n","\n $15,600\n",\n 42%\n,"$34,500","$12,600",Yes,"2,480",92%,20%,33%,"$8,210",4.3,"$27,000",40%,Alcorn State,MS,960,22

How do we get rid of the problem above? Hint: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.strip.html

In the cell below replace all the values of columns with whitespace without any whitespace

In [20]:
for i in [1,2,3,4,5,6,7]:
    college_df.iloc[:,i] = college_df.iloc[:,i].str.strip()

In [21]:
college_df.iloc[0, 3]

'$30,300'

In [22]:
college_df.head()

,college_names,acceptance_rate,Est_full_price_22_23,Est_price_with_avg_grant,graduation_rate,early_career_earnings,avg_price_for_low_income_students,sat_act_required,undergrad_enrollment,percent_of_students_with_need_who_get_grants,percent_of_need_met,percent_of_students_who_get_merit_grants,avg_merit_grant,avg_time_to_a_degree,median_student_debt,percent_earning_more_than_a_high_school_grad,Town,State,median_sat,median_act
0,Adelphi University,77%,"$67,400","$30,300",74%,"$70,100","$24,800",No,"5,170",98%,62%,22%,"$20,530",4.2,"$25,000",80%,Garden City,NY,1200,26
1,Agnes Scott College,70%,"$63,500","$14,400",73%,"$49,300","$10,400",No,"1,010",100%,85%,25%,"$31,390",4.1,"$26,750",60%,Decatur,GA,NaN,NaN
2,Albertus Magnus College,82%,"$62,100","$30,800",65%,"$52,300","$26,300",No,"1,020",69%,46%,4%,"$21,060",4.3,"$30,960",59%,New Haven,CT,NaN,NaN
3,Albion College,69%,"$70,200","$21,200",70%,"$57,500","$15,300",No,"1,510",100%,91%,16%,"$37,120",4.2,"$27,000",74%,Albion,MI,1110,24
4,Alcorn State University,39%,"$25,000","$15,600",42%,"$34,500","$12,600",Yes,"2,480",92%,20%,33%,"$8,210",4.3,"$27,000",40%,Alcorn State,MS,960,22

### Exploring Missing Values

Now lets explore some of the missing values.

`pandas` is smart, so it is able to detect the missing values even though we initially read them in as strings, notice how the column types are still also objects.

In [23]:
college_df.isna().sum()

college_names                                     0
acceptance_rate                                   0
Est_full_price_22_23                              0
Est_price_with_avg_grant                          0
graduation_rate                                   0
early_career_earnings                             1
avg_price_for_low_income_students                 6
sat_act_required                                  0
undergrad_enrollment                              0
percent_of_students_with_need_who_get_grants     21
percent_of_need_met                              36
percent_of_students_who_get_merit_grants         75
avg_merit_grant                                  55
avg_time_to_a_degree                              0
median_student_debt                               2
percent_earning_more_than_a_high_school_grad     10
Town                                              0
State                                             0
median_sat                                      153
median_act                                      153
dtype: int64

If we look at the data we can see where some of these `NaN` values are coming from (California State University, Channel Islands)

So pandas can detect the `NaN` values but how about this: https://money.com/best-colleges/profile/ringling-college-of-art-and-design/

In [24]:
np.sum(college_df['median_sat'] == 'NA') + np.sum(college_df['median_act'] == 'NA')
# college_df['median_sat'].unique()

37

In [25]:
np.sum(college_df == 'NA', axis = 0) + np.sum(college_df == 'N/A', axis = 0)

college_names                                    0
acceptance_rate                                  4
Est_full_price_22_23                             0
Est_price_with_avg_grant                         0
graduation_rate                                  0
early_career_earnings                            0
avg_price_for_low_income_students                0
sat_act_required                                 0
undergrad_enrollment                             0
percent_of_students_with_need_who_get_grants     0
percent_of_need_met                              0
percent_of_students_who_get_merit_grants         0
avg_merit_grant                                  0
avg_time_to_a_degree                             0
median_student_debt                              0
percent_earning_more_than_a_high_school_grad     0
Town                                             0
State                                            0
median_sat                                      21
median_act                                      16
dtype: int64

In [26]:
np.sum(college_df == 'NA', axis = 0)

college_names                                    0
acceptance_rate                                  0
Est_full_price_22_23                             0
Est_price_with_avg_grant                         0
graduation_rate                                  0
early_career_earnings                            0
avg_price_for_low_income_students                0
sat_act_required                                 0
undergrad_enrollment                             0
percent_of_students_with_need_who_get_grants     0
percent_of_need_met                              0
percent_of_students_who_get_merit_grants         0
avg_merit_grant                                  0
avg_time_to_a_degree                             0
median_student_debt                              0
percent_earning_more_than_a_high_school_grad     0
Town                                             0
State                                            0
median_sat                                      21
median_act                                      16
dtype: int64

In [27]:
n_cols = np.array(np.sum(college_df == 'NA', axis = 0) + np.sum(college_df == 'N/A', axis = 0)  > 0)
n_cols

array([False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True,  True])

In [28]:
college_df.iloc[:, n_cols] = college_df.iloc[:, n_cols].replace(["NA", "N/A"], np.nan)

In [29]:
college_df.isna().sum()

college_names                                     0
acceptance_rate                                   4
Est_full_price_22_23                              0
Est_price_with_avg_grant                          0
graduation_rate                                   0
early_career_earnings                             1
avg_price_for_low_income_students                 6
sat_act_required                                  0
undergrad_enrollment                              0
percent_of_students_with_need_who_get_grants     21
percent_of_need_met                              36
percent_of_students_who_get_merit_grants         75
avg_merit_grant                                  55
avg_time_to_a_degree                              0
median_student_debt                               2
percent_earning_more_than_a_high_school_grad     10
Town                                              0
State                                             0
median_sat                                      174
median_act                                      169
dtype: int64

Let will talk about how to deal with this a bit later :)

### Changing Series types

In [30]:
college_df.dtypes

college_names                                   object
acceptance_rate                                 object
Est_full_price_22_23                            object
Est_price_with_avg_grant                        object
graduation_rate                                 object
early_career_earnings                           object
avg_price_for_low_income_students               object
sat_act_required                                object
undergrad_enrollment                            object
percent_of_students_with_need_who_get_grants    object
percent_of_need_met                             object
percent_of_students_who_get_merit_grants        object
avg_merit_grant                                 object
avg_time_to_a_degree                            object
median_student_debt                             object
percent_earning_more_than_a_high_school_grad    object
Town                                            object
State                                           object
median_sat                                      object
median_act                                      object
dtype: object

In [31]:
print(college_df["median_sat"][0])
type(college_df["median_sat"][0])

1200

str

In [32]:
college_df["median_sat"] = college_df["median_sat"].astype('float64')
college_df["median_act"] = college_df["median_act"].astype('float64')

In [33]:
college_df.dtypes

college_names                                    object
acceptance_rate                                  object
Est_full_price_22_23                             object
Est_price_with_avg_grant                         object
graduation_rate                                  object
early_career_earnings                            object
avg_price_for_low_income_students                object
sat_act_required                                 object
undergrad_enrollment                             object
percent_of_students_with_need_who_get_grants     object
percent_of_need_met                              object
percent_of_students_who_get_merit_grants         object
avg_merit_grant                                  object
avg_time_to_a_degree                             object
median_student_debt                              object
percent_earning_more_than_a_high_school_grad     object
Town                                             object
State                                            object
median_sat                                      float64
median_act                                      float64
dtype: object

### Reformatting Values

Reformat strings

In [34]:
def reformat(string):
    try:
        remove_characters = "%$,"
        for character in remove_characters:
            string = string.replace(character, "")
        return string
    except:
        return string

reformat("$32,201"), reformat("13%")

('32201', '13')

In [35]:
college_df.select_dtypes(include=['object']).columns

Index(['college_names', 'acceptance_rate', 'Est_full_price_22_23',
       'Est_price_with_avg_grant', 'graduation_rate', 'early_career_earnings',
       'avg_price_for_low_income_students', 'sat_act_required',
       'undergrad_enrollment', 'percent_of_students_with_need_who_get_grants',
       'percent_of_need_met', 'percent_of_students_who_get_merit_grants',
       'avg_merit_grant', 'avg_time_to_a_degree', 'median_student_debt',
       'percent_earning_more_than_a_high_school_grad', 'Town', 'State'],
      dtype='object')

In [36]:
for col in college_df.select_dtypes(include=['object']).columns:
    college_df[col] = college_df[col].apply(reformat)

In [37]:
college_df.head()

,college_names,acceptance_rate,Est_full_price_22_23,Est_price_with_avg_grant,graduation_rate,early_career_earnings,avg_price_for_low_income_students,sat_act_required,undergrad_enrollment,percent_of_students_with_need_who_get_grants,percent_of_need_met,percent_of_students_who_get_merit_grants,avg_merit_grant,avg_time_to_a_degree,median_student_debt,percent_earning_more_than_a_high_school_grad,Town,State,median_sat,median_act
0,Adelphi University,77,67400,30300,74,70100,24800,No,5170,98,62,22,20530,4.2,25000,80,Garden City,NY,1200.0,26.0
1,Agnes Scott College,70,63500,14400,73,49300,10400,No,1010,100,85,25,31390,4.1,26750,60,Decatur,GA,NaN,NaN
2,Albertus Magnus College,82,62100,30800,65,52300,26300,No,1020,69,46,4,21060,4.3,30960,59,New Haven,CT,NaN,NaN
3,Albion College,69,70200,21200,70,57500,15300,No,1510,100,91,16,37120,4.2,27000,74,Albion,MI,1110.0,24.0
4,Alcorn State University,39,25000,15600,42,34500,12600,Yes,2480,92,20,33,8210,4.3,27000,40,Alcorn State,MS,960.0,22.0

Finish changing dtypes

In [38]:
college_df.columns.difference(['median_sat', 'median_act', 'avg_time_to_a_degree', 'Town', 'State', 'college_names', 'sat_act_required'])

Index(['Est_full_price_22_23', 'Est_price_with_avg_grant', 'acceptance_rate',
       'avg_merit_grant', 'avg_price_for_low_income_students',
       'early_career_earnings', 'graduation_rate', 'median_student_debt',
       'percent_earning_more_than_a_high_school_grad', 'percent_of_need_met',
       'percent_of_students_who_get_merit_grants',
       'percent_of_students_with_need_who_get_grants', 'undergrad_enrollment'],
      dtype='object')

In [39]:
for col in college_df.columns.difference(['median_sat', 'median_act', 'avg_time_to_a_degree', 'Town', 'State', 'college_names', 'sat_act_required']):
    print(col)
    college_df[col] = college_df[col].astype('float64')

Est_full_price_22_23
Est_price_with_avg_grant
acceptance_rate
avg_merit_grant
avg_price_for_low_income_students
early_career_earnings
graduation_rate
median_student_debt
percent_earning_more_than_a_high_school_grad
percent_of_need_met
percent_of_students_who_get_merit_grants
percent_of_students_with_need_who_get_grants
undergrad_enrollment

In [40]:
college_df.dtypes

college_names                                    object
acceptance_rate                                 float64
Est_full_price_22_23                            float64
Est_price_with_avg_grant                        float64
graduation_rate                                 float64
early_career_earnings                           float64
avg_price_for_low_income_students               float64
sat_act_required                                 object
undergrad_enrollment                            float64
percent_of_students_with_need_who_get_grants    float64
percent_of_need_met                             float64
percent_of_students_who_get_merit_grants        float64
avg_merit_grant                                 float64
avg_time_to_a_degree                             object
median_student_debt                             float64
percent_earning_more_than_a_high_school_grad    float64
Town                                             object
State                                            object
median_sat                                      float64
median_act                                      float64
dtype: object

### Imputing Missing Values

In [41]:
college_df.isnull().sum()

college_names                                     0
acceptance_rate                                   4
Est_full_price_22_23                              0
Est_price_with_avg_grant                          0
graduation_rate                                   0
early_career_earnings                             1
avg_price_for_low_income_students                 6
sat_act_required                                  0
undergrad_enrollment                              0
percent_of_students_with_need_who_get_grants     21
percent_of_need_met                              36
percent_of_students_who_get_merit_grants         75
avg_merit_grant                                  55
avg_time_to_a_degree                              0
median_student_debt                               2
percent_earning_more_than_a_high_school_grad     10
Town                                              0
State                                             0
median_sat                                      174
median_act                                      169
dtype: int64

In [42]:
college_df.median()

<ipython-input-42-446a3a04296e>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  college_df.median()

acceptance_rate                                    75.0
Est_full_price_22_23                            50000.0
Est_price_with_avg_grant                        22800.0
graduation_rate                                    69.0
early_career_earnings                           56900.0
avg_price_for_low_income_students               14100.0
undergrad_enrollment                             3095.0
percent_of_students_with_need_who_get_grants       96.0
percent_of_need_met                                75.0
percent_of_students_who_get_merit_grants           18.0
avg_merit_grant                                 12810.0
avg_time_to_a_degree                                4.2
median_student_debt                             23180.0
percent_earning_more_than_a_high_school_grad       73.0
median_sat                                       1210.0
median_act                                         26.0
dtype: float64

In [43]:
college_df = college_df.fillna(college_df.median())

<ipython-input-43-e2ba48affc3e>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  college_df = college_df.fillna(college_df.median())

In [44]:
college_df.isna().sum()

college_names                                   0
acceptance_rate                                 0
Est_full_price_22_23                            0
Est_price_with_avg_grant                        0
graduation_rate                                 0
early_career_earnings                           0
avg_price_for_low_income_students               0
sat_act_required                                0
undergrad_enrollment                            0
percent_of_students_with_need_who_get_grants    0
percent_of_need_met                             0
percent_of_students_who_get_merit_grants        0
avg_merit_grant                                 0
avg_time_to_a_degree                            0
median_student_debt                             0
percent_earning_more_than_a_high_school_grad    0
Town                                            0
State                                           0
median_sat                                      0
median_act                                      0
dtype: int64

### Renaming Columns

In [45]:
college_df.rename(columns = {'avg_time_to_a_degree':'avg_time_to_a_degree_years'}, inplace = True)

### Saving a file

In [ ]:
college_df.to_csv("colleges_dataset_cleaned.csv")